.shopping-list {
  background-color: rgb(48, 117, 117);
  padding-bottom: 5px;
}
.shopping-list h3 {
  color: rgb(241, 240, 235);
  padding: 10px 0;
}
.inputAdd {
  margin: 10px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.input-group {
  width: 500px !important;
}

.input-group button {
  margin: 0 5px;
}

.shopping-list li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(171, 210, 211);
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
