.admin {
  background-color: rgb(48, 117, 117);
  padding-bottom: 5px;
}
.admin h1 {
  color: rgb(241, 240, 235);
  padding: 10px 0;
}
.admin .parent {
  display: flex;
  padding-bottom: 5px;
  gap: 50px;
  margin: 20px 40px;
}
.prods-admin {
  flex: 2;
  background-color: rgb(171, 210, 211);
  border-radius: 5px;
}
.coupons-admin {
  flex: 1;
  background-color: rgb(171, 210, 211);
  border-radius: 5px;
}

.admin .form {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  text-align: left;
}

.admin .form div {
  margin-bottom: 10px;
}

.admin li {
  list-style-type: none;
  margin: 10px;
  margin-left: -22px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: rgb(48, 117, 117);
  color: rgb(241, 240, 235);
}

.admin .list-p,
.admin .list-c {
  overflow-y: auto;
}

.admin .list-p {
  max-height: 400px;
}

.admin .list-c {
  max-height: 560px;
}
