.product {
  background-color: rgba(222, 233, 245, 0.945);
  border: 1px solid rgb(58, 3, 46);

  display: inline-block;
  width: 300px;
  height: 440px;
  border-radius: 4px;
  margin: 5px 7px 12px 0;
}

.product h6 {
  font-size: 22px;
  font-family: "Segoe UI", sans-serif;
  margin: 10px 0 5px 0;
}

.product img {
  width: 250px;
  height: 250px;
}

.buttonAdd {
  margin-top: 20px;
}
